@charset "UTF-8";
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout-danger {
  border-left-color: #ce4844;
}
.bs-callout-warning {
  border-left-color: #aa6708;
}
.bs-callout-info {
  border-left-color: #1b809e;
}
.bs-callout-success {
  border-left-color: #C3DEB7;
}
.bs-callout-primary {
  border-left-color: #0099DD;
}
@media (min-width: 768px) {
  .navbar {
    border-radius: 0px;
  }
}
@media (max-width: 767px) {
  .cg-nav .container .nav li {
    width: 90%;
  }
}
.cg-header {
  margin-bottom: 0px;
}
.cg-header .navbar-nav li a {
  color: #fff;
}
.cg-header .navbar-nav li a:focus,
.cg-header .navbar-nav li a:hover {
  color: #00a8ff;
  text-decoration: underline;
}
.cg-header .navbar-header .navbar-brand {
  color: #fff;
}
.cg-header .navbar-header .navbar-brand i {
  font-size: 26px;
  letter-spacing: 1px;
}
.cg-nav {
  margin-bottom: 10px;
  border-bottom: solid 1px #ccc;
}
.cg-nav .navbar-header {
  margin-left: 120px;
  padding-top: 30px;
}
.cg-nav .navbar-header a img {
  vertical-align: middle;
  display: inline-block;
}
.cg-nav .container .navbar-nav li a {
  color: #777;
  min-width: 80px;
  line-height: 60px;
  font-size: 16px;
  text-align: center;
}
.cg-nav .container .navbar-nav .active {
  background-color: #eaeaea;
}
.cg-section .cg-banner {
  margin-bottom: 10px;
}
.cg-section .cg-feature dt,
.cg-section .cg-feature dd {
  padding-left: 55px;
}
.cg-section .cg-feature .cg-feature-items01 {
  background-image: url("../images/feature01.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.cg-section .cg-feature .cg-feature-items02 {
  background-image: url("../images/feature02.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.cg-section .cg-feature .cg-feature-items03 {
  background-image: url("../images/feature03.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.cg-table .panel {
  border: 1px solid transparent;
}
.cg-table .panel .panel-title {
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}
.cg-table .panel .panel-title .pull-left {
  float: left !important;
  font-size: 24px;
  color: #00a8ff;
  font-weight: bold;
  border-bottom: 4px solid #00a8ff;
}
.cg-table .panel .panel-title ul li {
  list-style: none;
  border-bottom: 1px dotted #eee;
}
.cg-table .panel .table thead th {
  border-bottom: solid 2px #ddd;
}
.cg-table .panel .table tbody tr td {
  font-size: 16px;
  vertical-align: middle;
}
.cg-table .panel .table tbody tr td:nth-of-type(3),
.cg-table .panel .table tbody tr td:nth-of-type(4) {
  color: #00a8ff;
}
.cg-news .panel {
  border: 1px solid transparent;
}
.cg-news .panel .panel-title {
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}
.cg-news .panel .panel-title .pull-left {
  font-size: 24px;
  color: #00a8ff;
  font-weight: bold;
  border-bottom: 4px solid #00a8ff;
}
.cg-news .panel ul {
  margin0: 0;
  padding: 0;
}
.cg-news .panel ul li {
  list-style: none;
  line-height: 38px;
  min-height: 38px;
  font-size: 14px;
  overflow: hidden;
  border-bottom: 1px dotted #eee;
}
.cg-footer {
  background-color: #f8f8f8;
  padding-top: 30px;
  margin-top: 20px;
}
.cg-footer .row .col-sm-2 p img {
  width: 120px;
}
.ac-section {
  margin-bottom: 30px;
}
/*#menu{
  li.list-group-item,{
    //取消list-group-item原有的padding属性,
    padding: 0;
    &>a{
      display:inline-block;
      width: 100%;
      height: 40px;
      line-height: 40px;
      padding: 0px 15px;//利用a标签把内容撑开
      //border-bottom: 1px solid #ccc;
      background-color: #ececec;

    }
    ul{
      padding:0px;
      li{
        height: 40px;
        line-height: 40px;
        list-style: none;
        padding-left: 30px;
      }
      .active{
        background-color: #337ab7;
        a{
          color:#fff;
        }
      }
    }
  }
  //单独li的选中样式
  &>li.active{
    background-color: #337ab7;
    &>a{
      color:#fff;
    }
  }
}*/
#accordion .panel {
  margin-top: 0px;
}
#accordion .panel-heading {
  padding: 0;
  height: 40px;
  line-height: 40px;
  background-color: #ececec;
  padding: 0px 15px;
}
#accordion ul {
  padding: 0px;
  margin: 0px;
}
#accordion ul li {
  height: 40px;
  line-height: 40px;
  list-style: none;
  padding-left: 30px;
}
#accordion ul .active {
  background-color: #337ab7;
}
#accordion ul .active a {
  color: #fff;
}
.cg-login-nav .navbar-header a img {
  vertical-align: middle;
}
.cg-login-nav .navbar-header span {
  color: #00a8ff;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  height: 60px;
  display: inline-block;
}
.cg-borrowinfo-section {
  margin-bottom: 30px;
}
.cg-borrowinfo-section .container .row .col-sm-6 h3 {
  margin-top: 5px;
}
.cg-borrowinfo-section .container .row .col-sm-6 table tr {
  height: 45px;
}
.cg-borrowinfo-section .container .row .col-sm-6 table tr td {
  min-width: 80px;
  margin-right: 10px;
  font-size: 16px;
}
.cg-borrowinfo-section .container .row .col-sm-6 table tr td:nth-of-type(1) {
  color: #00a8ff;
}
.cg-borrowinfo-section .container .row .col-sm-6 table tr td:nth-of-type(2) {
  color: #999;
}
.cg-borrowinfo-section .container .row .col-sm-3 table tr {
  height: 45px;
}
.cg-borrowinfo-section .container .row .col-sm-3 table tr td {
  min-width: 150px;
  margin-right: 10px;
  font-size: 16px;
}
.cg-borrowinfo-section .container .row .col-sm-3 table tr td:nth-of-type(1) {
  color: #999;
}
.cg-borrowinfo-section .container .row .col-sm-3 table tr td:nth-of-type(2) {
  color: #00a8ff;
}
.cg-borrowinfo-section .cg-borrowinfo-table .panel .table tbody {
  color: #999;
}
.cg-personal-section {
  overflow-x: hidden;
}
.cg-personal-section .cg-personal {
  border-radius: 4px;
}
.cg-personal-section .cg-personal .cg-personal-info {
  overflow: hidden;
  padding: 10px;
}
.cg-personal-section .cg-personal .cg-personal-info .cg-person-headimg {
  border: 1px solid #ccc;
  padding: 10px;
}
.cg-personal-section .cg-personal .cg-personal-info .cg-person-headimg .icon {
  width: 72px;
  height: 72px;
}
.cg-personal-section .cg-personal .cg-personal-info .cg-person-headtext {
  padding-left: 10px;
  padding-top: 10px;
}
.cg-personal-section .cg-personal .cg-person-acount {
  padding-top: 10px;
  border-top: 1px solid #ccc;
}
.cg-personal-section .cg-personal .cg-person-operation {
  height: 80px;
  line-height: 80px;
  margin-top: 10px;
}
.cg-personal-section .cg-personal .cg-person-identify {
  margin-top: 30px;
}
.cg-personal-section .cg-personal .cg-person-identify .cg-person-identify-item01 {
  background: url("../images/shiming.png") no-repeat;
  background-position-y: center;
  padding-left: 60px;
}
.cg-personal-section .cg-personal .cg-person-identify .cg-person-identify-item02 {
  background: url("../images/shouji.jpg") no-repeat;
  background-position-y: center;
  padding-left: 60px;
}
.cg-personal-section .cg-personal .cg-person-identify .cg-person-identify-item03 {
  background: url("../images/youxiang.jpg") no-repeat;
  background-position-y: center;
  padding-left: 60px;
}
.cg-personal-section .cg-personal .cg-person-identify .cg-person-identify-item04 {
  background: url("../images/baozhan.jpg") no-repeat;
  background-position-y: center;
  padding-left: 60px;
}
.cg-personal-section #echarts {
  height: 400px ;
}
.cg-invest-nav {
  margin-bottom: 0px;
}
.cg-invest-section .panel {
  border-width: 0px;
}
.cg-invest-section .panel .panel-body > div .btn-group {
  margin-left: 30px;
}
.cg-invest-section .panel .panel-body > div .btn-group .btn:focus {
  outline: #ccc;
}
.cg-invest-section .panel .panel-body > div .btn-group .active {
  outline: 0px;
}
.cg-invest-section .panel .panel-body .cg-invest-table tbody tr td {
  height: 35px;
  line-height: 35px;
}
.cg-borrow-section .row .panel-heading {
  background-color: #40D47E;
}
.cg-borrow-section .row .panel-heading .panel-title {
  color: #fff;
  font-size: 24px;
}
.cg-borrow-section .row .cg-panelheading01 {
  background-color: #EC7E20;
}
.cg-borrow-section .row .cg-panelheading02 {
  background-color: #2CA2EE;
}
.cg-borrow-section .row .cg-identify-img {
  padding-left: 20px;
}
.cg-borrow-section .row .cg-identify-img li {
  list-style: none;
  background: url("../images/sequare.png") no-repeat;
  background-position-y: center;
  padding-left: 20px;
  height: 30px;
  line-height: 30px;
}
.cg-borrow-section .row .cg-request-btn .btn-info {
  background-color: #00a8ff;
  border-radius: 15px;
}
.cg-borrowapply-section .cg-borrow-pos {
  position: relative;
}
.cg-borrowapply-section .cg-borrowapply-title {
  background-color: #F4F8FA;
}
.cg-borrowapply-section .cg-borrowapply-head {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}
.cg-borrowapply-section #cg-borapply-sidebar {
  position: absolute;
  top: 240px;
  right: 110px;
}
/*
@media (max-width: 768px){
  #cg-borapply-sidebar{
    position: static;
    top:0px;
    right: 0px;
  }
}*/
.cg-recharge-section .cg-recharge-title {
  background-color: #F4F8FA ;
}
.cg-recharge-section .cg-tab-content #offline,
.cg-recharge-section .cg-tab-content #online {
  border: 1px solid #ccc;
  border-top-width: 0px ;
}
.cg-recharge-section .cg-tab-content .tab-pane .charge-describe {
  padding-left: 15px;
}
.cg-recharge-section .cg-tab-content .tab-pane .table thead tr th {
  font-size: 18px;
}
.bankpos {
  background-image: url("../images/bank_list.png");
  background-repeat: no-repeat;
}
.bankgongshang {
  background-position: 0px 0px;
}
.banknongye {
  background-position: 0px -35px;
}
.bankjianshe {
  background-position: 0px -70px;
}
.bankzhaoshang {
  background-position: 0px -105px;
}
.bankminsheng {
  background-position: 0px -140px;
}
.bankjiaotong {
  background-position: 0px -175px;
}
.bankofchina {
  background-position: 0px -210px;
}
.bankzhongxin {
  background-position: 0px -245px;
}
.bankguangfa {
  background-position: 0px -280px;
}
.bankxingye {
  background-position: 0px -315px;
}
.bankhuaxia {
  background-position: 0px -350px;
}
.bankshanghai {
  background-position: 0px -385px;
}
.bankbeijing {
  background-position: 0px -420px;
}
.bankguangda {
  background-position: 0px -455px;
}
.bankpingan {
  background-position: 0px -490px;
}
.bankxinhe {
  background-position: 0px -525px;
}
.bankpufa {
  background-position: 0px -560px;
}
.bankshenzhenfazhan {
  background-position: 0px -595px;
}
.bankyouzheng {
  background-position: 0px -630px;
}
.bankzheshang {
  background-position: 0px -665px;
}
.bankguangzhou {
  background-position: 0px -700px;
}
.banknanjing {
  background-position: 0px -735px;
}
/**
 * 实名验证
 */
.cg-realAuth-section .cg-auth-idPhoto-left,
.cg-realAuth-section .cg-auth-idPhoto-right {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width: 200px;
  height: 200px;
  border: solid 1px #ccc;
}
.cg-realAuth-section .cg-auth-idPhoto-left > button,
.cg-realAuth-section .cg-auth-idPhoto-right > button {
  width: 100px;
  /*height: 40px;
      line-height: 40px;*/
  position: absolute;
  top: 5px;
  left: 60px;
  cursor: pointer;
}
.cg-realAuth-section .cg-auth-idPhoto-left input,
.cg-realAuth-section .cg-auth-idPhoto-right input {
  opacity: 0;
  width: 100px;
  height: 34px;
  position: absolute;
  top: 5px;
  left: 60px;
  overflow: hidden;
}
.cg-realAuth-section .cg-auth-idPhoto-left .upload-show,
.cg-realAuth-section .cg-auth-idPhoto-right .upload-show {
  width: 200px;
  height: 150px;
  position: absolute;
  border-top: 1px solid #ccc;
  bottom: 0px;
}
.cg-realAuth-section .cg-auth-idPhoto-left .upload-show img,
.cg-realAuth-section .cg-auth-idPhoto-right .upload-show img {
  vertical-align: middle;
  width: 200px;
  height: 149px;
}
@media (max-width: 768px) {
  .cg-offcanvas {
    position: relative;
    left: 0;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -ms-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
  }
  .cg-offcanvas-btn {
    padding: 30px 8px;
    position: absolute;
    top: 30%;
    z-index: 999;
  }
  .cg-offcanvas-left {
    position: absolute;
    left: -50%;
    width: 50%;
  }
  .cg-offcanvas-active {
    left: 50%;
  }
}
